body {
  margin: 15px;
  margin-left: 80px;
  max-width: 750px;
  min-width: 300px;
  background-image: linear-gradient(90deg, white 0%, rgb(60, 152, 245) 130%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.Navigationsleiste {
  height: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-image: linear-gradient(135deg, rgb(60, 60, 249) 0%, white 50%);
  color: rgb(11, 8, 23);
  border: solid;
  border-color: rgb(48, 201, 228);
  border-radius: 90%;
  position: sticky;
  top: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.Navigationsleiste:hover {
  box-shadow: gold;
}

main {
  text-align: center;
}

h1 {
  color: #020558;
  font-size: 50px;
}

.figure {
  margin-top: 40px;
}
.rund {
  border-top-right-radius: 70px;
  border-bottom-right-radius: 150px;
}

.rund:hover {
  box-shadow: gold;
}

.figcaption {
  color: #020558;
}

p {
  font-size: large;
  color: #020558;
}
